.logo{
    border-radius: 50%; 
    border: 0px;
    transition: transform .2s;
    width: 100px;
    height: auto;
    margin: 0px;
    
}
body{
    background-color: black;
}


}
a:link{
    text-decoration: none;
}
a:visited{
    
}
a img.logo:hover{
  -webkit-transform: scale(1.5);
    
}
.footer{
    max-height: 100px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: dimgray;
}
.logo-left{
    float: left;
}