@import url('https://fonts.googleapis.com/css2?family=Klee+One&display=swap');
*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
body,html{
    font-family:unset;
    color: #333;
 height: 100%;
 scroll-behavior: smooth;
}
ul{
    list-style-type: none;

}

a{
    text-decoration: none;
    color: #333;
}
h1,h2,h3{
text-align: center;
padding: 20px;
margin: 10px o;
}
img{
    width: auto;
    max-width: 500px;
    border-radius: 10px;
    box-shadow:0 3px 10px dimgray;
    transition: transform .1s;
}
 .grid{height:fit-content;
        display: grid;
        justify-content:center;
        align-items:center;
        gap: 20px;
       margin: 50px;
       vertical-align: middle;
    }
    .grid-3{display: grid;
        justify-content:center;
        width: 100%;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .card{
        margin: auto;
        padding: 10px 15px;
        max-width: 500px;
        height: inherit;
        display: inline;
        border: 1px solid white;
        border-radius: 10px;
    }
     .btn{
         padding: 10px 20px;
         border-radius: 5px;
         background-color: blue;
         opacity: .06;
         
     }
/*gallery*/
.image img{max-width: 300px;
    width: auto;
    height: auto;
     border: 1px solid black;
    
     
 }
 .gallery-grid{
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     position: relative;
     gap: 10px;
     justify-content:space-around;
     align-items:center;
 
 }
 img:hover{
     -webkit-transform: scale(1.1);
    
 }
.gallery{
    display:grid;
    justify-content: center;
    align-items:center;
   
}


/*navbar*/
 .logo img{
    border-radius: 50%; 
    overflow-wrap: normal;
    transition: transform .2s;
    max-width: 100px;
    height: auto;
    box-shadow:none;
    float: left !important;
    padding: 0%;
    
}
a :hover{
    -webkit-transform: scale(1.5);
      
  }
.navbar{
    position: fixed;
       background-color:none;
    height: 70px;
    z-index: 1;
}
.navbar ul{
    display: flex;
}
.navbar a{
    padding: 20px 30px;
    color:white;
}

.navbar a:active{
    border-top: 2px solid white;
    background-color: black ;
    opacity:0.5;
}
.navbar a:hover{
    border-top: 2px solid blue;
   color: blue;
    
}
.container{  max-width: 1100px;
    margin:0 auto;
    overflow-y:visible;
    padding: 0 40px;
}
.flex{ display:flex;
    justify-content: space-between;
    align-items: center;
        height: 100%;
      overflow: visible;
       border-radius: 10px;
    }

    .hero-img{
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(images/clubmath_hero.jpeg);
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
    background-size: cover;}
/*about*/
    .about{display: grid;
        justify-content: center;
height: 400px;
position: relative;
    }
   
   .about .grid{
       
    grid-template-columns:1fr 1fr;
    column-width: auto;
    overflow:visible;
    gap:30px;
    
   }

    
    .about h1{font-size: 30px;
        text-align: center;
    }
    .about p{
        margin:20px 0;
    }

    /*infinitum*/
   
    .infinitum{
        display: grid;
        grid-template-columns: 1fr 1fr;  
        overflow: visible;
        gap: 30px;

          }
    .infi-image img{
        height:350px;
        width: 500px;
    }

    .recent
    {
        display: grid;
        justify-content: center;
        grid-template-columns:1fr 1fr 1fr;
      justify-self:center;
      margin: 10px 50px;
      gap: 0;
    }
     .recent img{
         width:60%;
         height: auto;
     }
     .recent p{
         width:60%;
     }
     
    /*contact-form*/
    input[type=text],textarea {
        width: 100%;
        padding: 12px;
            border-radius: 10px;
        resize: vertical;
      }
      input[type=email]{
          width: 100%;
        padding: 12px;a
        border-radius: 10px;
        resize: vertical;
      }
      
     
      
      input[type=submit] {
        background-color: #4CAF50;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        float: right;
      }
      
      input[type=submit]:hover {
        background-color: #45a049;
      }
      
      .form {
          display: grid;
          justify-content: center;
          position: relative;
         
          width: 100%;
        border-radius: 5px;
        background-color: 
        padding: 20px;
        
      }
      
      .label{
       float: left;
        width: 20%;
        margin-top: 6px;
      }
      
      .content{
        float: right;
        width: 70%;
        margin-top: 6px;
      }
      
      /* Clear floats after the columns */
      .row:after {
        content: "";
        display: table;
        clear: both;
      }
      
      
      .form input{
          border:none;
      }
      .form input:active{
        border-bottom:1px solid blue;
    }
   

   
.social{
    display: grid;
       justify-content: center;
}
.social div{
    display: inline;
    margin:20px 50px;
}

.footer{
    
    display: grid;
    justify-content:center;
    gap: 50px;
    grid-template-columns: 1fr 1fr 1fr;
 background-color: black;
 
opacity: 0.8;   
color: white; 
position: relative;
}
.left img{
    width: 100px;
    margin: 0;
    box-shadow: none;
    
}
.footer-icons img{
  display: inline;  
  box-shadow: none;
  margin: 20px 10px;
  width: 30px;
}