@import url('https://fonts.googleapis.com/css2?family=Klee+One&display=swap');
*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
body{
    font-family:unset;
    color: #333;
 
}
ul{
    list-style-type: none;

}

a{
    text-decoration: none;
    color: #333;
}
h1,h2{
text-align: center;
padding: 20px;
}
img{
    width: auto;
    max-width: 500px;
    border-radius: 10px;
    box-shadow:0 3px 10px dimgray;
    transition: transform .1s;
}
 .grid{height:fit-content;
        display: grid;
        justify-content:center;
        align-items:center;
        gap: 20px;
       margin: 50px;
       vertical-align: middle;
    }
    .card{
        margin: auto;
        padding: 10px 15px;
        max-width: 500px;
        height: inherit;
        display: inline;
        border: 1px solid black;
        border-radius: 10px;
    }
     .btn{
         padding: 10px 20px;
         border-radius: 5px;
         background-color: blue;
         opacity: .06;
         
     }
/*gallery*/
.image img{max-width: 300px;
    width: auto;
    height: auto;
     border: 1px solid black;
    
     
 }
 .gallery-grid{
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     position: relative;
     gap: 10px;
     justify-content:space-around;
     align-items:center;
 
 }
 img:hover{
     -webkit-transform: scale(1.1);
    
 }
.gallery{
    display:grid;
    justify-content: center;
    align-items:center;
   
}


/*navbar*/
 /*img .logo{
    border-radius: 50%; 
    border: 0px;
    transition: transform .2s;
    max-width: 5px;
    height: auto;
    margin: 0px;
    float: left !important;
}
a :hover{
    -webkit-transform: scale(1.5);
      
  }*/
.navbar{position: sticky;
    background-color:dimgray;
    height: 70px;
}
.navbar ul{
    display: flex;
}
.navbar a{
    padding: 20px 30px;
    color: white;
}
.navbar a:active{
    border-top: 2px solid white;
    background-color: black ;
    opacity:0.5;
}
.navbar a:hover{
    border-top: 2px solid white;
    background-color: black ;
    opacity: 0.6;
}
.container{
    max-width: 1100px;
    margin:0 auto;
    overflow-y: auto;
    padding: 0 40px;
}
.flex{
    display:flex;
    justify-content: space-between;
    align-items: center;
        height: 100%;
      
       border-radius: 10px;
    }
/*about*/
    .about{display: grid;
        justify-content: center;
height: 400px;
position: relative;
    }
   
   .about .grid{
       
    grid-template-columns:1fr 1fr;
    column-width: auto;
    gap:30px;
    
   }

    
    .about h1{font-size: 30px;
        text-align: center;
    }
    .about p{
        margin:20px 0;
    }

    /*infinitum*/
   
    .infinitum{
        display: grid;
        grid-template-columns: 1fr 1fr;  
       
        gap: 30px;

          }
    .infi-image img{
        height:350px;
        width: 500px;
    }
     
    /*contact-form*/
    input[type=text],textarea {
        width: 100%;
        padding: 12px;a
            border-radius: 10px;
        resize: vertical;
      }
      input[type=email]{
          width: 100%;
        padding: 12px;a
        border-radius: 10px;
        resize: vertical;
      }
      
      label {
        padding: 12px 12px 12px 0;
        display: inline-block;
      }
      
      input[type=submit] {
        background-color: #4CAF50;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        float: right;
      }
      
      input[type=submit]:hover {
        background-color: #45a049;
      }
      
      .form {
          display: grid;
          justify-content: center;
          width: 100%;
          
        border-radius: 5px;
        background-color: 
        padding: 20px;
        
      }
      
      .col-25 {
        float: left;
        width: 25%;
        margin-top: 6px;
      }
      
      .col-75 {
        float: left;
        width: 75%;
        margin-top: 6px;
      }
      
      /* Clear floats after the columns */
      .row:after {
        content: "";
        display: table;
        clear: both;
      }
      
      /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
      @media screen and (max-width: 600px) {
        .col-25, .col-75, input[type=submit] {
          width: 100%;
          margin-top: 0;
        }
      }
      .form input{
          border:none;
      }
      .form input:active{
        border-bottom:1px solid blue;
    }